services:
  app:
    build: .
    command: >
      bash -c "sh components.sh && python manage_test.py migrate && python manage_test.py makemigrations && coverage run --source='.' -m pytest --verbose && coverage html"
    volumes:
      - $PWD:/code/
    depends_on:
      - db
  db:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=user
      - POSTGRES_DB=database
