version: "3.7"

services:
  app:
    build: .
    command: >
      bash -c "sh components.sh && python manage_test.py migrate && coverage run --source='.' -m pytest && coverage html"
    volumes:
      - $PWD:/code/
    depends_on:
      - db
  db:
    image: postgres:13.2
    restart: always
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=user
      - POSTGRES_DB=database
