requests==2.31.0
pytest==6.2.5
djangorestframework>=3.10.3
django-oauth-toolkit==1.6.1
social-auth-app-django>=5.4.1
pytest-mock==3.6.1
coverage==6.2
psycopg2-binary==2.9.3
model_bakery==1.11.0
PyJWT==2.8.0
